# Tugas Kecil 2
### Eksplorasi scikit-learn pada Jupyter Notebook
oleh : <br>
Muhamad Ilyas Mustafa / 13516123 <br>
Adam Fadhel

## 1. Membaca dataset standar iris dan dataset play-tennis

In [1]:
from sklearn import datasets, tree
from sklearn.naive_bayes import GaussianNB
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import graphviz

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
outlook        14 non-null object
temperature    14 non-null object
humidity       14 non-null object
windy          14 non-null bool
play           14 non-null object
dtypes: bool(1), object(4)
memory usage: 542.0+ bytes

       outlook temperature humidity  windy play
count       14          14       14     14   14
unique       3           3        2      2    2
top      rainy        mild     high  False  yes
freq         5           6        7      8    9

Read Iris Dataset

In [5]:
iris = datasets.load_iris()
iris_data = iris.data
iris_target = iris.target
# iris_data_frame = pd.DataFrame(data=np.)
# iris.describe()

Read Play-Tennis Dataset

In [11]:
Location = 'weather.nominal.csv'
play_tennis = pd.read_csv(Location)
play_tennis.head()
# play_tennis.info()
# play_tennis.describe()

    outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [12]:
play_tennis.describe()

       outlook temperature humidity  windy play
count       14          14       14     14   14
unique       3           3        2      2    2
top      rainy        mild     high  False  yes
freq         5           6        7      8    9

## 2. Melakukan pembelajaran dengan skema full training & tampilkan model

2.1 NaiveBayes

In [13]:
gnb = GaussianNB()
y_pred = gnb.fit(iris.data, iris.target).predict(iris.data)
print("Number of mislabeled points out of a total %d points : %d" % (iris.data.shape[0],(iris.target != y_pred).sum()))

Number of mislabeled points out of a total 150 points : 6

2.3 DecisionTree ID3

In [25]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(iris.data, iris.target)
dot_data = tree.export_graphviz(clf, out_file=None, feature_names=iris.feature_names, class_names=iris.target_names, filled=True, rounded=True, special_characters=True)  
graph = graphviz.Source(dot_data)
# graph

TypeError: predict() missing 1 required positional argument: 'X'

2.4 kNN

2.5 Neural Network MLP

## 3. Melakukan pembelajaran untuk dataset iris dengan skema split train 90% dan test 10%

## 4. Melakukan pembelajaran untuk dataset iris dengan skema 10-fold cross validation